NEXT_PUBLIC_SUPABASE_URL=https://lrpdsjubjxucnzfmijyo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxycGRzanVianh1Y256Zm1panlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTg2NzM3MjgsImV4cCI6MjAxNDI0OTcyOH0.vHLfZqCqzh1sFHug12fh8QcTxuSuQ6YUFRsqpT3JKaE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxycGRzanVianh1Y256Zm1panlvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5ODY3MzcyOCwiZXhwIjoyMDE0MjQ5NzI4fQ.h29mPWznOkaXdqvmr6SujRPH61-XJ7s_iafFQVy9CAk

NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51O8ZRrIw3OcvMwJPaR7ydCr3JoUZv5CqvUr3FsgbGTVi9esrTYHlhFDyaXy2cGDuJUo1ZXcMxbZnLmDVZkyNK0Lu00O3pSuxwA
STRIPE_SECRET_KEY=sk_test_51O8ZRrIw3OcvMwJPwRkJP1aRXWVOAIsJp1fMG4MYscWDTaNctKlojiUjczuYhI2PZF4kMM0SOKnz0mukGBXSeQcP00Nhv4mYlB
STRIPE_WEBHOOK_SECRET=whsec_2f00f7f5d2b44102b7c42ca27e31328f6e465a2b3d61d4c0c79279358a561308